:root {

  --clr-neutral-900: #1f2937;
  --clr-neutral-400: #dadce086;
  --clr-neutral-100: #F9FAF8;
  --clr-accent: #3882f6;

  --ff-primary: "Roboto", sans-serif;

  /* small screen font sizes */
  --fs-400: .8rem;
  --fs-500: 1rem;
  --fs-900: 2rem;

  --fw-700: 700;
  --fw-400: 400;
  --fw-300: 300;

}

@media(min-width:50em) {
  :root {
    /* big screen font sizes */
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-900: 3.5rem;
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* layout */

.container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  outline: auto;
  width: 15rem;
  height: 20rem;
}

.display {
  outline: auto;
  text-align: center;
  min-height: 3rem;
}

.display__text {
  padding: 1.8em .2em 0 0;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-basis: 100%;
}

.equal {
  grid-column: 4 / 5;
  grid-row: 6 / 4;
}

.add {
  grid-column: 4 / 5;
  grid-row: 4 / 3;
}

.subtract {
  grid-column: 4 / 5;
  grid-row: 3 / 2;
}

.multiply {
  grid-column: 4 / 5;
  grid-row: 2 / 1;
}

.divide {
  grid-column: 3 / 4;
  grid-row: 2 / 1;
}

.clear {
  grid-column: 1 / 3;
}

.zero {
  grid-column: 1 / 3;
}

/* general styling */

body {
  font-family: var(--ff-primary);
}

h1 {
  font-size: var(--fs-900);
  text-align: center;
  margin: 3rem 0;
}